In [4]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")
clay_today=pd.read_pickle('.\Clay_Today')
clay_today=clay_today[clay_today['Resulted']=='False']
clay_today[['Time','Fav_Top100','Dog_Top100','Fav','fav_rank','fav_rank_high','dog_rank','dog_rank_high','Fav_Odds','fav_percent','Fav_Serve%','Fav_Return%','fav_last_five_win_perc','Dog','Dog_Odds','dog_percent','Dog_Serve%','Dog_Return%','dog_last_five_win_perc']]

,Time,Fav_Top100,Dog_Top100,Fav,fav_rank,fav_rank_high,dog_rank,dog_rank_high,Fav_Odds,fav_percent,Fav_Serve%,Fav_Return%,fav_last_five_win_perc,Dog,Dog_Odds,dog_percent,Dog_Serve%,Dog_Return%,dog_last_five_win_perc
2,23:00,0.5,0.5,Federico Coria,83.0,49.0,190.0,155.0,1.65,0.565217,0.68,0.25,0.8,Mariano Navone,2.15,0.333333,0.0,0.0,0.8

In [12]:
pd.read_sql_query('Select distinct * from allsets',con=devengine).tail(20)

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Odds,Player_2_Odds,Player_1_Rank,Player_2_Rank,Surface,...,w1,w2,w3,w4,w5,l1,l2,l3,l4,l5
7095,2022-11-14,Mens,Drummondville challenger90,Kai Wehnelt,Sid Donarski,1.11,5.67,680,10000,Hard,...,6,6,,,,3,0,,,
7096,2022-11-14,Mens,Helsinki challenger444,Oleksii Krutykh,Niklas Schell,1.38,2.89,242,848,Hard,...,7,3,6,,,5,6,1,,
7097,2022-11-14,Mens,Helsinki challenger444,Stefano Travaglia,Henri Squire,1.62,2.20,205,263,Hard,...,6,6,,,,2,2,,,
7098,2022-11-14,Mens,Helsinki challenger444,Giovanni Mpetshi Perricard,Raphael Collignon,1.89,1.83,218,305,Hard,...,6,7,,,,4,6,,,
7099,2022-11-14,Mens,Helsinki challenger444,Mikhail Kukushkin,Alexander Erler,1.29,3.38,245,1020,Hard,...,6,7,,,,2,6,,,
7100,2022-11-14,Mens,Helsinki challenger444,Alibek Kachmazov,Evgeny Karlovskiy,1.55,2.35,276,474,Hard,...,6,6,,,,3,4,,,
7101,2022-11-14,Mens,Helsinki challenger444,Leandro Riedi,Arthur Cazaux,2.12,1.66,155,124,Hard,...,6,7,,,,4,6,,,
7102,2022-11-14,Mens,Kobe challenger457,Marc Polmans,Renta Tokuda,1.34,3.02,140,514,Hard,...,6,4,6,,,3,6,2,,
7103,2022-11-14,Mens,Kobe challenger457,Yunseong Chung,Yuta Shimizu,1.56,2.27,335,246,Hard,...,6,7,,,,2,6,,,
7104,2022-11-14,Mens,Kobe challenger457,Shintaro Mochizuki,Rimpei Kawakami,1.51,2.36,201,632,Hard,...,6,6,,,,4,4,,,
7105,2022-11-14,Mens,Kobe challenger457,Jason Jung,Yuki Mochizuki,1.39,2.75,235,500,Hard,...,6,6,,,,3,3,,,
7106,2022-11-14,Mens,Kobe challenger457,Naoki Nakagawa,Sasi Kumar Mukund,2.56,1.45,334,424,Hard,...,6,7,,,,3,6,,,
7107,2022-11-14,Mens,Kobe challenger457,Colin Sinclair,James Trotter,2.80,1.36,347,502,Hard,...,6,6,,,,4,1,,,
7108,2022-11-14,Mens,Sao Leopoldo challenger470,Max Houkes,Fermin Tenti,1.08,7.12,389,884,Clay,...,6,6,,,,3,4,,,
7109,2022-11-14,Mens,Sao Leopoldo challenger470,Wilson Leite,Eduardo Ribeiro,2.05,1.71,573,328,Clay,...,6,3,6,,,3,6,4,,
7110,2022-11-14,Mens,Sao Leopoldo challenger470,Damien Wenger,Nicolas Zanellato,1.22,4.01,398,483,Clay,...,7,6,6,,,6,7,2,,
7111,2022-11-14,Womens,Buenos Aires WTA88,Yuki Naito,Ipek Oz,2.05,1.72,441,209,Clay,...,7,6,,,,6,3,,,
7112,2022-11-14,Womens,Buenos Aires WTA88,Natalija Stevanovic,Josefina Estevez,1.01,18.17,189,898,Clay,...,6,6,,,,1,0,,,
7113,2022-11-14,Womens,Buenos Aires WTA88,Julia Riera,Sara Bejlek,3.15,1.34,158,206,Clay,...,7,6,,,,5,4,,,
7114,2022-11-14,Womens,Buenos Aires WTA88,Diana Shnaider,Darya Astakhova,1.40,2.80,66,191,Clay,...,6,6,6,,,3,7,1,,