In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")

In [26]:
elo_data = pd.read_sql_query(
    "Select DISTINCT * From Elo_AllMatches_Daily_All",
    con=devengine,
)

In [27]:
elo_data=elo_data[elo_data['Sex']=='Womens']

In [28]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Dog_Odds'].ge(lower))&(elo_data['Elo_Dog_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']!=test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']==x['Elo_Fav'] else (STAKE * x['Elo_Dog_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

1.2 1.3 0.8
50.0
1.3 1.4 0.8723404255319149
4245.0
1.7000000000000002 1.8 0.6404494382022472
5540.0
2.4 2.5 0.42990654205607476
2745.0
2.8 2.9 0.36619718309859156
1450.0
3.0 3.1 0.359375
3030.0
3.1 3.2 0.36507936507936506
4680.0
3.4 3.5 0.3333333333333333
3135.0
3.5 3.6 0.29411764705882354
680.0

In [29]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Fav_Odds'].ge(lower))&(elo_data['Elo_Fav_Odds'].le(upper))].copy()
        if len(test1) > 0:
            percent=len(test1[test1['Winner']==test1['Elo_Fav']])/len(test1)
            STAKE=500
            test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!=x['Elo_Fav'] else (STAKE * x['Elo_Fav_Odds'])-STAKE,axis=1)
            if test1['Profit'].sum() >0 and len(test1) >20:
                print(lower,upper,percent)
                print(test1['Profit'].sum())

1.1 1.2 0.8835616438356164
2490.0
1.6 1.7000000000000002 0.6145833333333334
980.0
2.3 2.4 0.4375
545.0

In [64]:
elo_data_today = pd.read_sql_query(
    "Select * From Elo_AllMatches_Daily_All_Today --where date < '2022-09-01' and date > '2022-06-31' and (Surface like 'Hard' or Surface like '') --and Elo_Fav_Est_Odds < 1.8",
    con=devengine,
)

In [65]:
elo_data_today[((elo_data_today['Elo_Fav_Odds'].ge(2))&(elo_data_today['Elo_Fav_Odds'].le(2.1)))]#|((elo_data_today['Elo_Fav_Odds'].ge(2.2))&(elo_data_today['Elo_Fav_Odds'].le(2.3)))]

,Surface,Date,Sex,Winner,Resulted,Time,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
20,Hard,2022-09-18,Mens,Facundo Mena,False,09:00,Facundo Mena,Keegan Smith,2.09,1.68,1.422243,3.368307,1668.550615,1518.775433,20,11
31,Hard,2022-09-18,Womens,Chihiro Muramatsu,False,15:00,Chihiro Muramatsu,Rina Saigo,2.03,1.70,1.931995,2.072968,1553.952478,1541.717850,2,2

In [66]:
elo_data_today[((elo_data_today['Elo_Dog_Odds'].ge(2.4))&(elo_data_today['Elo_Dog_Odds'].le(2.5)))]#|((elo_data_today['Elo_Fav_Odds'].ge(2.2))&(elo_data_today['Elo_Fav_Odds'].le(2.3)))]

,Surface,Date,Sex,Winner,Resulted,Time,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
30,Hard,2022-09-18,Womens,Nadia Podoroska,True,23:40,Linda Fruhvirtova,Nadia Podoroska,1.57,2.41,1.784323,2.274984,1640.223164,1598.021253,10,10