In [25]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")

In [60]:
elo_data = pd.read_sql_query(
    "Select DISTINCT * From Elo_AllMatches_Daily_Clay",
    con=devengine,
)

In [61]:
for x in range(3,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Dog_Odds'].ge(lower))&(elo_data['Elo_Dog_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']!=test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']==x['Elo_Fav'] else (STAKE * x['Elo_Dog_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

3.1 3.2 0.3401360544217687
5300.0
3.2 3.3 0.3170731707317073
1830.0
3.3 3.4 0.3018867924528302
555.0
3.4 3.5 0.3146067415730337
3785.0
3.6 3.7 0.3684210526315789
16405.0
3.8 3.9 0.2857142857142857
3405.0

In [62]:
for x in range(3,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Fav_Odds'].ge(lower))&(elo_data['Elo_Fav_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']==test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!=x['Elo_Fav'] else (STAKE * x['Elo_Fav_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

3.1 3.2 0.3448275862068966
1270.0
3.2 3.3 0.37037037037037035
2730.0

In [77]:
pd.read_sql_query('SELECT * FROM TodaysMatches --ADD Time VARCHAR;',con=devengine)

Empty DataFrame
Columns: [Date, Sex, Tournament, Player_1, Player_2, Player_1_Odds, Player_2_Odds, Surface, Resulted, Time]
Index: []

In [50]:
elo_data_today = pd.read_sql_query(
    "Select * From Elo_AllMatches_Daily_Clay_Today --where date < '2022-09-01' and date > '2022-06-31' and (Surface like 'Hard' or Surface like '') --and Elo_Fav_Est_Odds < 1.8",
    con=devengine,
)

In [53]:
elo_data_today[(elo_data_today['Elo_Dog_Odds'].ge(3))&(elo_data_today['Elo_Dog_Odds'].le(4))]

,Surface,Date,Sex,Winner,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
0,Clay,2022-09-16,Mens,Alexander Shevchenko,Roberto Carballes Baena,Alexander Shevchenko,1.33,3.16,1.399554,3.502790,1846.583003,1687.213231,130,60
1,Clay,2022-09-16,Mens,Matteo Arnaldi,Corentin Moutet,Matteo Arnaldi,1.35,3.05,1.988878,2.011247,1794.094987,1792.152046,40,70
2,Clay,2022-09-16,Mens,Jan Choinski,Chun Hsin Tseng,Jan Choinski,1.29,3.40,1.463496,3.157516,1775.131101,1641.549471,78,10

In [46]:
elo_data_today[((elo_data_today['Elo_Fav_Odds'].ge(2))&(elo_data_today['Elo_Fav_Odds'].le(2.1)))]

Empty DataFrame
Columns: [Surface, Date, Sex, Winner, Elo_Fav, Elo_Dog, Elo_Fav_Odds, Elo_Dog_Odds, Elo_Fav_Est_Odds, Elo_Dog_Est_Odds, Elo_Fav_Elo, Elo_Dog_Elo, Elo_Fav_Total, Elo_Dog_Total]
Index: []

In [47]:
elo_data_today

,Surface,Date,Sex,Winner,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
0,Clay,2022-09-16,Mens,Raul Brancaccio,Raul Brancaccio,Federico Delbonis,2.47,1.50,1.467430,3.139356,1786.321493,1654.208271,36,25
1,Clay,2022-09-16,Womens,Sara Errani,Rebeka Masarova,Sara Errani,1.85,1.93,1.923020,2.083400,1696.135138,1682.219526,23,21
2,Clay,2022-09-16,Womens,Irina Camelia Begu,Irina Camelia Begu,Irina Maria Bara,1.15,5.10,1.310019,4.225607,1769.385155,1565.940560,20,14
3,Clay,2022-09-16,Womens,Reka Luca Jani,Reka Luca Jani,Panna Udvardy,2.51,1.51,1.949553,2.053128,1628.453023,1619.460617,19,23
4,Clay,2022-09-16,Womens,Maryna Zanevska,Mayar Sherif,Maryna Zanevska,1.68,2.15,1.447771,3.233286,1787.696584,1648.118818,20,17
5,Clay,2022-09-16,Mens,Alexander Shevchenko,Roberto Carballes Baena,Alexander Shevchenko,1.35,3.06,1.332450,4.007972,1843.461795,1652.152276,47,47
6,Clay,2022-09-16,Womens,Kateryna Baindl,Irina Camelia Begu,Kateryna Baindl,1.23,4.06,1.345701,3.892670,1822.388123,1637.868547,20,20
7,Clay,2022-09-16,Mens,Matteo Arnaldi,Matteo Arnaldi,Corentin Moutet,2.99,1.36,1.904172,2.105985,1785.109790,1767.610173,47,24
8,Clay,2022-09-16,Mens,Jan Choinski,Chun Hsin Tseng,Jan Choinski,1.29,3.40,1.535296,2.868124,1735.842879,1627.280554,37,10