In [226]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")
clay_today=pd.read_pickle('.\Clay_Today')
clay_today=clay_today[clay_today['Resulted']=='False']

In [227]:
pd.read_sql_query(
        f"Select DISTINCT * From AllMatches where surface like 'Grass'",
        con=devengine,
    )

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Odds,Player_2_Odds,Surface,Player_1_Rank,Player_2_Rank
0,2021-06-06,Mens,Nottingham challenger383,Igor Sijsling,Matteo Viola,1.64,2.13,grass,313.0,251.0
1,2021-06-06,Mens,Nottingham challenger383,Aleksandar Vukic,Max Purcell,1.66,2.09,grass,209.0,282.0
2,2021-06-06,Mens,Nottingham challenger383,Borna Gojo,Nathaniel Lammons,1.17,4.38,grass,233.0,1235.0
3,2021-06-06,Mens,Nottingham challenger383,Marius Copil,James Ward,1.72,2.00,grass,228.0,329.0
4,2021-06-06,Mens,Nottingham challenger383,Ramkumar Ramanathan,Anton Matusevich,1.46,2.54,grass,216.0,588.0
...,...,...,...,...,...,...,...,...,...,...
2100,2023-06-14,Womens,Hertogenbosch13,Veronika Kudermetova,Carol Zhao,1.08,8.03,grass,14.0,163.0
2101,2023-06-14,Womens,Hertogenbosch13,Ashlyn Krueger,Victoria Azarenka,4.21,1.23,grass,152.0,19.0
2102,2023-06-14,Womens,Hertogenbosch13,Sachia Vickery,Priscilla Hon,1.65,2.31,grass,179.0,176.0
2103,2023-06-14,Womens,Hertogenbosch13,Caty Mcnally,Katie Volynets,1.40,2.98,grass,62.0,106.0
2104,2023-06-14,Womens,Hertogenbosch13,Celine Naef,Venus Williams,1.48,2.66,grass,202.0,696.0

In [228]:
filter1=clay_today[['Time','Fav','Fav_Odds','dog_percent','fav_percent']][((clay_today['dog_percent']<0.20)|(clay_today['fav_percent']>0.7)|(clay_today['dog_percent']>0.4)|(clay_today['fav_percent']>0.8)|
                                                            (clay_today['dog_percent']>0.5))&(clay_today['Fav_Odds']<1.2)&(clay_today['Fav_Odds']>1.1)]

In [229]:
filter2=clay_today[['Time','Fav','Fav_Odds','dog_percent','fav_percent']][((clay_today['dog_percent']>0.5)|(clay_today['fav_rank']<100)|(clay_today['dog_rank']<100)|(clay_today['dog_rank']<50)
                                                            )&(clay_today['Fav_Odds']>1.8)]

In [230]:
filter3=clay_today[['Time','Fav','Fav_Odds','dog_percent','fav_percent']][((clay_today['dog_percent']<0.2)|(clay_today['dog_percent']>0.7))&(clay_today['Fav_Odds']>1.7)&(clay_today['Fav_Odds']<1.8)]

In [231]:
filter4=clay_today[['Time','Fav','Fav_Odds','dog_percent','fav_percent']][((clay_today['fav_percent']<0.2)|(clay_today['fav_percent']<0.3))&(clay_today['Fav_Odds']>1.6)&(clay_today['Fav_Odds']<1.7)]

In [232]:
dog1=clay_today[['Time','Dog','Dog_Odds','dog_percent','fav_percent']][(clay_today['dog_percent']>0.7)&(clay_today['Fav_Odds']>1.6)&(clay_today['Fav_Odds']<1.7)]

In [233]:
dog2=clay_today[['Time','Dog','Dog_Odds','dog_percent','fav_percent']][(clay_today['fav_percent']<0.3)&(clay_today['Fav_Odds']>1.8)]

In [234]:
dog3=clay_today[['Time','Dog','Dog_Odds','dog_percent','fav_percent']][(clay_today['fav_percent']<0.3)&(clay_today['Fav_Odds']>=1.4)&(clay_today['Fav_Odds']<=1.5)]

In [235]:
dog5=clay_today[['Time','Dog','Dog_Odds','dog_percent','fav_percent']][((clay_today['fav_percent']>0.5)|(clay_today['fav_percent']>0.6))&(clay_today['Fav_Odds']>=1.7)&(clay_today['Fav_Odds']<=1.8)]

In [236]:
dog7=clay_today[['Time','Dog','Dog_Odds','dog_percent','fav_percent']][((clay_today['fav_rank']>100)|(clay_today['fav_percent']<0.3)|(clay_today['dog_rank']>50))&
                                                                       (clay_today['Fav_Odds']>=1.8)&(clay_today['Fav_Odds']<=1.9)]

In [237]:
filter5=clay_today[['Time','Fav','Fav_Odds','dog_percent','fav_percent']][((clay_today['dog_rank']>50)|(clay_today['fav_percent']>0.7)|(clay_today['dog_percent']>0.4)|(clay_today['fav_percent']>0.8)|
                                                            (clay_today['dog_percent']>0.5)|(clay_today['dog_percent']<0.2))&(clay_today['Fav_Odds']<=1.2)&(clay_today['Fav_Odds']>=1.1)]

In [238]:
filter6=clay_today[['Time','Fav','Fav_Odds','dog_percent','fav_percent']][((clay_today['fav_percent']<0.4)|(clay_today['fav_percent']<0.5))&(clay_today['Fav_Odds']>=1.2)&(clay_today['Fav_Odds']<=1.3)]

In [239]:
pd.concat([filter1,filter2,filter3,filter4,filter5,filter6]).sort_values(by='Time')

    Time                    Fav  Fav_Odds  dog_percent  fav_percent
0  00:30            Alex Molcan      1.21     0.300000     0.461538
3  03:15           Mayar Sherif      1.17     0.166667     0.272727
3  03:15           Mayar Sherif      1.17     0.166667     0.272727
6  19:00  Felipe Meligeni Alves      1.26     0.400000     0.285714

In [240]:
pd.concat([dog1,dog2,dog3,dog5,dog7]).sort_values(by='Time')

    Time            Dog  Dog_Odds  dog_percent  fav_percent
2  01:45  Lucas Pouille      1.87          0.5     0.818182