In [4]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")
#pd.read_sql_query("Select * from AllMatches -- where Date > '2024-03-16'",con=devengine)

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Odds,Player_2_Odds,Surface,Player_1_Rank,Player_2_Rank,...,w1,w2,w3,w4,w5,l1,l2,l3,l4,l5
0,2023-01-02,Mens,Oeiras,Alibek Kachmazov,Timo Legout,1.41,2.72,Hard,345.0,510.0,...,6,6,,,,2,1,,,
1,2023-01-02,Mens,Oeiras,Rudolf Molleker,Simon Beaupain,1.30,3.28,Hard,327.0,529.0,...,6,6,,,,4,3,,,
2,2023-01-02,Mens,Oeiras,Joris De Loore,Oscar Jose Gutierrez,1.22,3.89,Hard,209.0,445.0,...,6,6,,,,1,2,,,
3,2023-01-02,Mens,Oeiras,Sebastian Fanselow,Fabio Coelho,1.16,4.48,Hard,373.0,1010.0,...,6,7,,,,3,5,,,
4,2023-01-02,Mens,Oeiras,Edan Leshem,Henrique Rocha,1.35,2.94,Hard,350.0,857.0,...,0,7,6,,,6,5,2,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21758,2024-03-16,Mens,Hamburg challenger21,Clement Chidekh,Yuta Shimizu,1.47,2.58,Hard,320.0,232.0,...,6,7,,,,3,6,,,
21759,2024-03-16,Womens,Indian Wells0,Maria Sakkari,Cori Gauff,3.35,1.33,Hard,9.0,3.0,...,6,6,6,,,4,7,2,,
21760,2024-03-16,Womens,Indian Wells0,Iga Swiatek,Marta Kostyuk,1.11,6.99,Hard,1.0,32.0,...,6,6,,,,2,1,,,
21761,2024-03-16,Womens,Charleston 25,Diana Shnaider,Yafan Wang,1.58,2.33,Hard,74.0,66.0,...,3,6,6,,,6,3,3,,
21762,2024-03-16,Womens,Charleston 25,Elisabetta Cocciaretto,Greet Minnen,1.51,2.52,Hard,60.0,81.0,...,7,6,,,,6,1,,,