In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")
pd.read_sql_query("Select distinct * from AllMatches  where Date > '2024-04-23'",con=devengine)
#pd.read_sql_query("Delete from AllMatches  where Date > '2024-04-17'",con=devengine)

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Odds,Player_2_Odds,Surface,Player_1_Rank,Player_2_Rank,...,w1,w2,w3,w4,w5,l1,l2,l3,l4,l5
0,2024-04-24,Mens,Madrid0,Luca Van Assche,Zizou Bergs,1.68,2.19,Clay,99.0,103.0,...,6,6,6,,,4,7,1,,
1,2024-04-24,Mens,Madrid0,Alexander Shevchenko,Arthur Rinderknech,1.99,1.82,Clay,59.0,77.0,...,6,5,6,,,4,7,3,,
2,2024-04-24,Mens,Madrid0,Daniel Altmaier,Martin Landaluce,1.33,3.33,Clay,61.0,322.0,...,6,7,,,,1,5,,,
3,2024-04-24,Mens,Madrid0,Thiago Seyboth Wild,Roman Safiullin,1.79,2.02,Clay,63.0,42.0,...,6,6,,,,4,4,,,
4,2024-04-24,Mens,Madrid0,Taro Daniel,Aleksandar Vukic,1.88,1.93,Clay,85.0,62.0,...,6,6,6,,,2,7,1,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2024-04-24,Womens,Madrid WTA324,Laura Siegemund,Carlota Martinez Cirez,1.10,6.96,Clay,83.0,254.0,...,6,6,,,,1,2,,,
84,2024-04-24,Womens,Madrid WTA324,Hailey Baptiste,Rebecca Sramkova,1.84,1.93,Clay,110.0,116.0,...,6,6,,,,2,0,,,
85,2024-04-24,Womens,Madrid WTA324,Sara Errani,Leyre Romero Gormaz,1.54,2.43,Clay,100.0,300.0,...,7,4,6,,,5,6,1,,
86,2024-04-24,Womens,Madrid WTA324,Bernarda Pera,Renata Zarazua,1.41,2.83,Clay,79.0,103.0,...,6,6,,,,3,2,,,
87,2024-04-24,Womens,Madrid WTA324,Harriet Dart,Maria Timofeeva,3.46,1.31,Clay,86.0,99.0,...,4,6,7,,,6,3,5,,