In [42]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")
data_itf=pd.read_sql_query(
    f"Select DISTINCT * FROM AllMatches_ITF where Date not like '{time_now_formatted}' --and surface  like 'Clay'",
    con=devengine,)
data_itf['max_odds']=data_itf[['Player_1_Odds','Player_2_Odds']].max(axis=1)
data_itf['min_odds']=data_itf[['Player_1_Odds','Player_2_Odds']].min(axis=1)
data_itf['max_rank']=data_itf[['Player_1_Rank','Player_2_Rank']].max(axis=1)
data_itf['min_rank']=data_itf[['Player_1_Rank','Player_2_Rank']].min(axis=1)
data_itf['Winner']=data_itf.apply(lambda x: 'Dog' if x['Player_1_Odds']>x['Player_2_Odds'] else 'Fav', axis=1)
#data#[(data['max_odds']>2)&(data['max_odds']<2.1)&(data['Winner']!='Dog')]

In [43]:
data=data_itf[data_itf['Surface']=='Clay']
for x in range(1,3):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)
        #print(lower,upper)
        test1=data[(data['max_odds'].ge(lower))&(data['max_odds'].le(upper))&(data['min_rank'].le(600))&(data['max_rank'].ge(600))].copy()
        #print(test1)
        games=len(test1)
        if games > 0:
            percent=len(test1[test1['Winner']=='Dog'])/len(test1)
            #print(percent)
            STAKE=100
            test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!='Dog' else (STAKE * x['max_odds'])-STAKE,axis=1)
            if test1['Profit'].sum() >0 and len(test1) >0 and percent >=0.5:
                print(lower,upper,percent,games)
                print(test1['Profit'].sum())

1.9 2.0 0.5384615384615384 13
72.0
2.0 2.1 0.7222222222222222 18
894.0
2.1 2.2 0.75 8
486.00000000000006
2.5 2.6 0.5 12
333.0
2.8 2.9 0.6666666666666666 9
817.0

In [44]:
data=data_itf[data_itf['Surface']=='Hard']
for x in range(1,3):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)
        #print(lower,upper)
        test1=data[(data['max_odds'].ge(lower))&(data['max_odds'].le(upper))&(data['min_rank'].le(700))&(data['max_rank'].ge(700))].copy()
        #print(test1)
        games=len(test1)
        if games > 0:
            percent=len(test1[test1['Winner']=='Dog'])/len(test1)
            #print(percent)
            STAKE=100
            test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!='Dog' else (STAKE * x['max_odds'])-STAKE,axis=1)
            if test1['Profit'].sum() >0 and len(test1) >0:
                print(lower,upper,percent,games)
                print(test1['Profit'].sum())

1.9 2.0 0.5263157894736842 19
60.0
2.0 2.1 0.55 20
269.9999999999999

In [45]:
today_itf=pd.read_sql_query(
    f"Select DISTINCT * FROM TodaysMatches_ITF --where Date not like '{time_now_formatted}' --and surface  like 'Clay'",
    con=devengine,)
today_itf['max_odds']=today_itf[['Player_1_Odds','Player_2_Odds']].max(axis=1)
today_itf['max_rank']=today_itf[['Player_1_Rank','Player_2_Rank']].max(axis=1)
today_itf['min_rank']=today_itf[['Player_1_Rank','Player_2_Rank']].min(axis=1)
data=today_itf
data[(data['max_odds'].ge(1.9))&(data['max_odds'].le(2))&(data['min_rank'].le(600))&(data['max_rank'].ge(600))]

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Rank,Player_2_Rank,Player_1_Odds,Player_2_Odds,Surface,Resulted,Time,max_odds,max_rank,min_rank
32,2023-04-14,Womens,Santa Margherita Di Pula 2 ITF67,Ayla Aksu,Alice Rame,600,433,1.98,1.73,Clay,False,19:00,1.98,600.0,433.0
35,2023-04-14,Womens,Sharm El Sheikh 11 ITF76,Polina Iatcenko,Elena Pridankina,544,696,1.97,1.73,Hard,False,18:30,1.97,696.0,544.0

In [46]:
data=data_itf[data_itf['Surface']=='Clay']
for x in range(1,3):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)
        #print(lower,upper)
        test1=data[(data['min_odds'].ge(lower))&(data['min_odds'].le(upper))]#&(data['min_rank'].le(200))&(data['max_rank'].le(200))].copy()
        #print(test1)
        games=len(test1)
        if games > 0:
            percent=len(test1[test1['Winner']=='Fav'])/len(test1)
            #print(percent)
            STAKE=100
            test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!='Fav' else (STAKE * x['max_odds'])-STAKE,axis=1)
            if  percent >=0.1:
                print(lower,upper,percent,games)
                print(test1['Profit'].sum())

1.0 1.1 0.8947368421052632 456
283673.0
1.1 1.2 0.8529411764705882 340
102210.0
1.2 1.3 0.7580645161290323 310
51589.0
1.3 1.4 0.6491228070175439 285
25043.0
1.4 1.5 0.6610169491525424 236
15726.0
1.5 1.6 0.6488888888888888 225
10570.0
1.6 1.7000000000000002 0.5279187817258884 197
1992.0
1.7000000000000002 1.8 0.6 115
1721.0
1.8 1.9 0.6395348837209303 86
1514.0
2.8 2.9 1.0 1
477.0

C:\Users\chris\AppData\Local\Temp/ipykernel_12324/1661975974.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!='Fav' else (STAKE * x['max_odds'])-STAKE,axis=1)

In [47]:
data[(data['max_odds'].ge(2.3))&(data['max_odds'].le(2.4))]#&(data['min_rank'].le(200))&(data['max_rank'].le(200))]

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Rank,Player_2_Rank,Player_1_Odds,Player_2_Odds,Surface,max_odds,min_odds,max_rank,min_rank,Winner
42,2023-04-12,Womens,Santa Margherita Di Pula 2 ITF_82,Maria Bondarenko,Tatiana Pieri,369,688,1.50,2.30,Clay,2.30,1.50,688.0,369.0,Fav
46,2023-04-12,Womens,Santa Margherita Di Pula 2 ITF_82,Diletta Cherubini,Sofia Rocchetti,414,727,1.55,2.30,Clay,2.30,1.55,727.0,414.0,Fav
47,2023-04-12,Womens,Santa Margherita Di Pula 2 ITF_82,Bianca Bulgaru Miriam,Anastasia Gasanova,247,250,2.36,1.52,Clay,2.36,1.52,250.0,247.0,Dog
89,2023-04-12,Womens,Boca Raton 3 ITF_285,Makenna Jones,Tatum Evans,511,893,1.50,2.30,Clay,2.30,1.50,893.0,511.0,Fav
91,2023-04-12,Womens,Boca Raton 3 ITF_285,Veronica Miroshnichenko,Madison Sieg,632,458,2.40,1.45,Clay,2.40,1.45,632.0,458.0,Dog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5720,2023-01-17,Womens,Buenos Aires 2 ITF_53,Berta Bonardi,Briana Szabo,561,708,1.52,2.37,Clay,2.37,1.52,708.0,561.0,Fav
5735,2023-01-17,Womens,Antalya 2 ITF_87,Yufei Ren,Ayda Uyar Melis,10000,1161,1.46,2.38,Clay,2.38,1.46,1161.0,10000.0,Fav
5777,2023-01-17,Womens,Vero Beach ITF_174,Kaitlin Quevedo,Elixane Lechemia,672,10000,1.51,2.32,Clay,2.32,1.51,672.0,10000.0,Fav
5781,2023-01-16,Womens,Naples 4 ITF_65,Emma Navarro,Peyton Stearns,120,89,1.52,2.37,Clay,2.37,1.52,89.0,120.0,Fav
5799,2023-01-16,Womens,Antalya 2 ITF_76,Divna Ratkovic,Doga Turkmen,10000,1135,1.52,2.31,Clay,2.31,1.52,1135.0,10000.0,Fav