In [20]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")

In [21]:
elo_hard=pd.read_sql_query(
    f"Select DISTINCT * From Elo_AllMatches_Hard where Date > '2021-01-01' and Date not like '{time_now_formatted}'",
    con=devengine,)

elo_clay=pd.read_sql_query(
    f"Select DISTINCT * From Elo_AllMatches_Clay where Date > '2021-01-01' and Date not like '{time_now_formatted}'",
    con=devengine,)

In [22]:
elo_data_hard =pd.read_sql_query(
    f"Select DISTINCT * From Elo_AllMatches_Hard where Date like '{time_now_formatted}' --and resulted like 'False' --and Elo_Fav_Odds>1.19 --and Winner_Rank BETWEEN 1 AND 200 --and Winner_Rank<1000",
    con=devengine,)


elo_data_clay =pd.read_sql_query(
    f"Select DISTINCT * From Elo_AllMatches_Clay where Date like '{time_now_formatted}' --and resulted like 'False' --and Elo_Fav_Odds>1.19",
    con=devengine,)

In [23]:
elo_data_hard

,Surface,Date,Sex,Winner,Loser,Winner_Odds,Loser_Odds,Resulted,Time,Elo_Fav,...,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Rank,Elo_Dog_Rank,Fav,Dog,Fav_Odds,Dog_Odds,Fav_Rank,Dog_Rank
0,Hard,2023-01-31,Mens,Ryan Harrison,Bradley Klahn,1.61,2.17,True,01:10,Ryan Harrison,...,1567.609046,1428.382924,617.0,783.0,Ryan Harrison,Bradley Klahn,1.61,2.17,617.0,783.0
1,Hard,2023-01-31,Mens,Matija Pecotic,Thai Son Kwiatkowski,1.86,1.84,True,03:30,Matija Pecotic,...,1581.157697,1418.534073,829.0,1471.0,Thai Son Kwiatkowski,Matija Pecotic,1.84,1.86,1471.0,829.0
2,Hard,2023-01-31,Mens,Alex Kodat Toby,William Blumberg,2.34,1.54,True,02:55,William Blumberg,...,1594.559456,1407.490567,701.0,841.0,William Blumberg,Alex Kodat Toby,1.54,2.34,701.0,841.0
3,Hard,2023-01-31,Mens,Floyd Angele Jaimee,Roy Smith,1.67,2.08,True,01:10,Floyd Angele Jaimee,...,1478.511728,1400.375401,554.0,779.0,Floyd Angele Jaimee,Roy Smith,1.67,2.08,554.0,779.0
4,Hard,2023-01-31,Mens,Daniel Cox,Gianluca Mager,2.34,1.54,False,23:00,Daniel Cox,...,1512.725058,1478.045324,447.0,238.0,Gianluca Mager,Daniel Cox,1.54,2.34,238.0,447.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Hard,2023-01-31,Mens,Nick Chappell,Mitchell Krueger,4.06,1.21,False,09:40,Mitchell Krueger,...,1597.071268,1475.802133,229.0,448.0,Mitchell Krueger,Nick Chappell,1.21,4.06,229.0,448.0
59,Hard,2023-01-31,Mens,Filip Misolic,Cedrik Marcel Stebe,1.61,2.22,True,00:35,Cedrik Marcel Stebe,...,1615.089976,1512.378731,257.0,145.0,Filip Misolic,Cedrik Marcel Stebe,1.61,2.22,145.0,257.0
60,Hard,2023-01-31,Mens,Francesco Passaro,Yaroslav Demin,1.04,9.99,True,01:10,Francesco Passaro,...,1568.512623,1370.638507,111.0,1798.0,Francesco Passaro,Yaroslav Demin,1.04,9.99,111.0,1798.0
61,Hard,2023-01-31,Mens,Fa Rodriguez Taverna Santiago,Benoit Paire,2.23,1.60,True,03:20,Benoit Paire,...,1536.253723,1350.035079,216.0,275.0,Benoit Paire,Fa Rodriguez Taverna Santiago,1.60,2.23,216.0,275.0
62,Hard,2023-01-31,Womens,Madison Brengle,Shuai Zhang,2.62,1.49,False,23:30,Shuai Zhang,...,1677.802294,1539.279669,23.0,80.0,Shuai Zhang,Madison Brengle,1.49,2.62,23.0,80.0

In [24]:
def get_player_record(player,opponent_rank,history,time,opponent,rank):
    player_history_top50=pd.DataFrame()
    player_history_top100=pd.DataFrame()
    player_history=pd.DataFrame()
    if opponent_rank<50:
        player_history_top50=history[(((history['Fav']==player)&(history['Dog_Rank']<50))|((history['Dog']==player)&(history['Fav_Rank']<50)))]
        #if player_history_top50.empty==False and (len(player_history_top50[player_history_top50['Winner']==player])/len(player_history_top50))  > 0.5:
            
            #print(time,player,"Top50",len(player_history_top50))
            #print(len(player_history_top50[player_history_top50['Winner']==player])/len(player_history_top50))        
    if opponent_rank<100:
        player_history_top100=history[(((history['Fav']==player)&(history['Dog_Rank']<100))|((history['Dog']==player)&(history['Fav_Rank']<100)))]
        #if player_history_top100.empty==False and (len(player_history_top100[player_history_top100['Winner']==player])/len(player_history_top100))   > 0.5:     
        #    print(time,player,"Top100",len(player_history_top100))
        #    print(len(player_history_top100[player_history_top100['Winner']==player])/len(player_history_top100))   
            
    else:
        opponent_rank_low=opponent_rank-50
        opponent_rank_high=opponent_rank+50
        player_history=history[((history['Fav']==player)&((history['Dog_Rank']>opponent_rank_low)&(history['Dog_Rank']<opponent_rank_high)))|
        ((history['Dog']==player)&((history['Fav_Rank']>opponent_rank_low)&(history['Fav_Rank']<opponent_rank_high)))]
        #if player_history.empty==False:
        #    if (len(player_history[player_history['Winner']==player])/len(player_history)) > 0.5 and len(player_history) >5:
        #        print(time,player,opponent_rank_low,opponent_rank_high,len(player_history))
        #        print(len(player_history[player_history['Winner']==player])/len(player_history))       
    
    return player_history,player_history_top100,player_history

In [25]:
def get_player_record(player, opponent_rank, history, range_low,range_high,auto):
    if auto:
        opponent_rank_low = opponent_rank - range_low
        opponent_rank_high = opponent_rank + range_high
    else:
        opponent_rank_low = range_low
        opponent_rank_high = range_high

    player_history = history[
        (
            (history["Fav"] == player)
            & (
                (history["Dog_Rank"] > opponent_rank_low)
                & (history["Dog_Rank"] < opponent_rank_high)
            )
        )
        | (
            (history["Dog"] == player)
            & (
                (history["Fav_Rank"] > opponent_rank_low)
                & (history["Fav_Rank"] < opponent_rank_high)
            )
        )
    ]
    if player_history.empty == False:
        result = float(
            len(player_history[player_history["Winner"] == player])
            / len(player_history)
        )
        return result, len(player_history)
    else:
        return 0, 0

In [26]:
result_df=pd.DataFrame()
for _,row in elo_data_hard.sort_values(by='Time').iterrows():
    low_limit=50
    high_limit=50

    percent,games=get_player_record(row.Fav,row.Dog_Rank,elo_hard,low_limit,high_limit,True)
    count=0
    while games <10 and count<200:
        count=count+1
        low_limit=low_limit+10
        high_limit=high_limit+10
        percent,games=get_player_record(row.Fav,row.Dog_Rank,elo_hard,low_limit,high_limit,True)

    low_limit=50
    high_limit=50
    percent2,games2=get_player_record(row.Dog,row.Fav_Rank,elo_hard,low_limit,high_limit,True)
    count=0
    while games2 <5 and count<200:
        count=count+1
        low_limit=low_limit+10
        high_limit=high_limit+10
        percent2,games2=get_player_record(row.Dog,row.Fav_Rank,elo_hard,low_limit,high_limit,True)       
        
    if True and games > 4 and games2 > 4:# and (((percent >= 0.5)&((percent2 < 0.5))) | ((percent2 >= 0.5)&((percent < 0.5)))):
        # if  (percent2 < 5)| (percent < 5):
        temp_df = pd.DataFrame(
            {   "Time":[row.Time],
                "Fav_Odds":[row.Fav_Odds],
                "Dog_Odds":[row.Dog_Odds],
                "Fav": [row.Fav],
                "Elo_Fav": [row.Elo_Fav],
                "Fav_Record": ["{:.0%}".format(percent)],
                "Fav_Games": [games],
                "Dog": [row.Dog],
                "Dog_Odds":[row.Dog_Odds],
                "Dog_Record": ["{:.0%}".format(percent2)],
                "Dog_Games": [games2],
                "percent": [percent],
                "percent2": [percent2],
            }
        )

        result_df=pd.concat([result_df,temp_df])
        #print(row.Time, row.Fav, row.Fav_Odds, row.Dog, row.Dog_Odds)
        #print(
        #    "{:.0%}".format(percent),
        #    f"({games} Games)",
        #    "{:.0%}".format(percent2),
        #    f"({games2} Games)",
        #)
#result_df

In [27]:
serving=pd.read_excel('servers_today.xlsx')
serving_womens=pd.read_excel('servers_today_womens.xlsx')
if serving_womens.empty==False:
    serving=pd.concat([serving,serving_womens])
else:
    serving = serving
serving=serving.drop(columns='Time')
result=pd.merge(result_df,serving,how='left',left_on=['Fav','Dog'],right_on=['Fav','Dog'])#.to_clipboard(index=False)
result_hard=result#[((result['percent']>0.5))|((result['percent2']>0.5))].copy()

In [28]:
elo_data_clay

,Surface,Date,Sex,Winner,Loser,Winner_Odds,Loser_Odds,Resulted,Time,Elo_Fav,...,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Rank,Elo_Dog_Rank,Fav,Dog,Fav_Odds,Dog_Odds,Fav_Rank,Dog_Rank
0,Clay,2023-01-31,Womens,Raluka Serban,Quinn Gleason,1.39,2.86,True,06:50,Quinn Gleason,...,1611.001496,1418.998571,746.0,215.0,Raluka Serban,Quinn Gleason,1.39,2.86,215.0,746.0
1,Clay,2023-01-31,Womens,Nuria Brancaccio,Julia Riera,1.52,2.44,True,02:05,Julia Riera,...,1509.573789,1493.867877,259.0,213.0,Nuria Brancaccio,Julia Riera,1.52,2.44,213.0,259.0
2,Clay,2023-01-31,Womens,Paula Ormaechea,Weronika Falkowska,1.33,3.18,True,02:10,Paula Ormaechea,...,1562.678711,1482.500810,206.0,250.0,Paula Ormaechea,Weronika Falkowska,1.33,3.18,206.0,250.0
3,Clay,2023-01-31,Womens,Laura Pigossi,Gabriela Ce,1.30,3.37,True,04:05,Laura Pigossi,...,1518.781173,1346.897616,110.0,263.0,Laura Pigossi,Gabriela Ce,1.30,3.37,110.0,263.0
4,Clay,2023-01-31,Womens,Fernanda Contreras Gomez,Marine Partaud,1.31,3.26,True,04:55,Marine Partaud,...,1598.954162,1594.560844,443.0,183.0,Fernanda Contreras Gomez,Marine Partaud,1.31,3.26,183.0,443.0
5,Clay,2023-01-31,Womens,Katarzyna Kawa,Aliona Bolsova,2.50,1.49,False,10:10,Aliona Bolsova,...,1503.931140,1379.832490,148.0,231.0,Aliona Bolsova,Katarzyna Kawa,1.49,2.50,148.0,231.0

In [29]:
result_df=pd.DataFrame()
for _,row in elo_data_clay.sort_values(by='Time').iterrows():
    low_limit=50
    high_limit=50

    percent,games=get_player_record(row.Fav,row.Dog_Rank,elo_clay,low_limit,high_limit,True)
    count=0
    while games <10 and count<200:
        count=count+1
        low_limit=low_limit+10
        high_limit=high_limit+10
        percent,games=get_player_record(row.Fav,row.Dog_Rank,elo_clay,low_limit,high_limit,True)

    low_limit=50
    high_limit=50
    percent2,games2=get_player_record(row.Dog,row.Fav_Rank,elo_clay,low_limit,high_limit,True)
    count=0
    while games2 <5 and count<200:
        count=count+1
        low_limit=low_limit+10
        high_limit=high_limit+10
        percent2,games2=get_player_record(row.Dog,row.Fav_Rank,elo_clay,low_limit,high_limit,True)       
        
    if True and games > 4 and games2 > 4:# and (((percent >= 0.5)&((percent2 < 0.5))) | ((percent2 >= 0.5)&((percent < 0.5)))):
        # if  (percent2 < 5)| (percent < 5):
        temp_df = pd.DataFrame(
            {   "Time":[row.Time],
                "Fav_Odds":[row.Fav_Odds],
                "Dog_Odds":[row.Dog_Odds],
                "Fav": [row.Fav],
                "Fav_Record": ["{:.0%}".format(percent)],
                "Fav_Games": [games],
                "Dog": [row.Dog],
                "Dog_Record": ["{:.0%}".format(percent2)],
                "Dog_Games": [games2],
            }
        )

        result_df=pd.concat([result_df,temp_df])
        #print(row.Time, row.Fav, row.Fav_Odds, row.Dog, row.Dog_Odds)
        #print(
        #    "{:.0%}".format(percent),
        #    f"({games} Games)",
        #    "{:.0%}".format(percent2),
        #    f"({games2} Games)",
        #)
result_df

,Time,Fav_Odds,Dog_Odds,Fav,Fav_Record,Fav_Games,Dog,Dog_Record,Dog_Games
0,10:10,1.49,2.50,Aliona Bolsova,40%,5,Katarzyna Kawa,20%,5

In [30]:
serving=pd.read_excel('servers_today.xlsx')
serving_womens=pd.read_excel('servers_today_womens.xlsx')
serving=pd.concat([serving,serving_womens])
serving=serving.drop(columns='Time')
if result_df.empty==False:
    result=pd.merge(result_df,serving,how='left',left_on=['Fav','Dog'],right_on=['Fav','Dog'])#.to_clipboard(index=False)
    result[(result['Fav_Serve%']>69)|(result['Dog_Serve%']>69)]
    clay=result
else:
    clay2=result_df
    clay2

In [31]:
elo_hard=pd.read_sql_query(
    f"Select DISTINCT * From Elo_AllMatches_Hard where Date > '2022-01-01' and Date not like '{time_now_formatted}' --and Fav_odds>1.2 and Fav_odds<1.4 ",
    con=devengine,)
winner_dataset=elo_hard[['Date','Winner','Winner_Odds']].copy()
winner_dataset['Player']=winner_dataset['Winner']
winner_dataset['Odds']=winner_dataset['Winner_Odds']
winner_dataset['Win/Loss']='Win'
loser_dataset=elo_hard[['Date','Loser','Loser_Odds']].copy()
loser_dataset['Player']=loser_dataset['Loser']
loser_dataset['Odds']=loser_dataset['Loser_Odds']
loser_dataset['Win/Loss']='Loss'
winner_dataset.drop(columns=['Winner','Winner_Odds'],inplace=True)
loser_dataset.drop(columns=['Loser','Loser_Odds'],inplace=True)
data_concat=pd.concat([winner_dataset,loser_dataset])
data_concat=data_concat.sort_index()
data_concat['Odds']=data_concat.Odds.astype(float)

In [32]:
for _,matchup in result_hard.iterrows():
    player1=matchup.Fav
    player2=matchup.Dog
    player1_odds=float(matchup.Fav_Odds)
    player1_odds_hi=player1_odds+0.2
    player1_odds_lo=1
    player2_odds=float(matchup.Dog_Odds)
    player2_odds_hi=player2_odds+0.5
    player2_odds_lo=2
    player1=data_concat[data_concat['Player']==player1].copy()
    #player1['Streak'] = player1['Win/Loss'].groupby((player1['Win/Loss'] != player1['Win/Loss'].shift()).cumsum()).cumcount() + 1
    #player1['Streak']=player1.apply(lambda x: 'W'+str(x['Streak']) if x['Win/Loss']=='Win' else 'L'+str(x['Streak']),axis=1)
    #player1[player1['Odds']<1.4].tail(20)
    player2=data_concat[data_concat['Player']==player2].copy()
    #player2['Streak'] = player2['Win/Loss'].groupby((player2['Win/Loss'] != player2['Win/Loss'].shift()).cumsum()).cumcount() + 1
    #player2['Streak']=player2.apply(lambda x: 'W'+str(x['Streak']) if x['Win/Loss']=='Win' else 'L'+str(x['Streak']),axis=1)
    #player2[player2['Odds']>2.5].tail(20)
    player2=player2[(player2['Odds']>player2_odds_lo)&(player2['Odds']<player2_odds_hi)]
    if len(player2)>0:
        winperc2=len(player2[player2['Win/Loss']=='Win'])/len(player2)
    else:
        winperc2=0
    player1=player1[(player1['Odds']>player1_odds_lo)&(player1['Odds']<player1_odds_hi)]
    if len(player1)>0:
        winperc1=len(player1[player1['Win/Loss']=='Win'])/len(player1)
    else:
        winperc1=0
    if len(player1)>5 and len(player2)>3:
        print(matchup.Time,f"{matchup.Fav} ({round(player1_odds_lo,2)}-->{round(player1_odds_hi,2)})",f"{matchup.Dog} ({round(player2_odds_lo,2)}-->{round(player2_odds_hi,2)})")
        #print(,matchup.Dog)
        print(len(player1),winperc1,len(player2),winperc2)

00:55 Linda Noskova (1-->1.75) Garbine Muguruza (2-->2.95)
14 0.7857142857142857 6 0.16666666666666666
01:10 Salvatore Caruso (1-->2.03) Nicolas Alvarez Varona (2-->2.38)
11 0.9090909090909091 4 0.5
02:30 Alexandre Muller (1-->1.68) Hans Rehberg Max (2-->3.03)
12 0.5833333333333334 4 0.5
02:40 Petra Martic (1-->1.53) Kristina Mladenovic (2-->3.8)
7 0.7142857142857143 6 0.16666666666666666
03:10 Hugo Grenier (1-->1.72) Lucas Gerch (2-->2.93)
30 0.5333333333333333 7 0.5714285714285714
04:15 Zhizhen Zhang (1-->1.61) Henri Squire (2-->3.27)
19 0.5789473684210527 10 0.4
04:40 Antoine Bellier (1-->1.73) Zdenek Kolar (2-->2.89)
15 0.6 10 0.2
06:00 Emilio Gomez (1-->1.35) Ezekiel Clark (2-->5.54)
20 0.85 7 0.0
06:10 Liam Broady (1-->1.56) Robin Haase (2-->3.49)
20 0.85 12 0.3333333333333333
07:40 Keegan Smith (1-->1.58) Kyle Seelig (2-->3.36)
12 0.75 4 0.0
09:15 Aleksandar Kovacevic (1-->1.47) Alex Rybakov (2-->4.03)
16 0.8125 7 0.2857142857142857
09:15 Dayne Kelly (1-->1.85) Naoki Nakagawa (2-->2.65)
6 0.6666666666666666 10 0.2
09:40 Mitchell Krueger (1-->1.41) Nick Chappell (2-->4.56)
8 0.875 18 0.3888888888888889
10:45 Rinky Hijikata (1-->1.33) Yusuke Takahashi (2-->6.07)
15 0.8 7 0.14285714285714285
12:00 James Duckworth (1-->1.29) Makoto Ochi (2-->7.21)
12 0.5833333333333334 10 0.3
17:00 Yulia Putintseva (1-->1.53) Heather Watson (2-->3.77)
6 0.6666666666666666 11 0.2727272727272727
20:00 Luca Nardi (1-->1.76) Henri Laaksonen (2-->2.83)
21 0.6190476190476191 12 0.25
20:00 Anna Karolina Schmiedlova (1-->1.72) Anastasia Zakharova (2-->3.0)
7 0.8571428571428571 4 0.0
20:00 Laurent Lokoli (1-->1.5) Mats Rosenkranz (2-->3.8)
9 0.8888888888888888 13 0.38461538461538464
20:30 Nuria Parrizas Diaz (1-->1.76) Anna Bondar (2-->2.91)
14 0.7142857142857143 7 0.5714285714285714
20:30 Anna Blinkova (1-->1.78) Erika Andreeva (2-->2.88)
16 0.625 5 0.6
21:30 Vasek Pospisil (1-->1.71) Emilio Nava (2-->2.93)
50 0.72 19 0.42105263157894735
21:30 Roman Safiullin (1-->1.52) Geoffrey Blancaneaux (2-->3.7)
29 0.6551724137931034 18 0.4444444444444444
21:30 Valentin Royer (1-->1.79) Lukas Rosol (2-->2.75)
8 0.875 10 0.4
21:30 Ryan Peniston (1-->1.64) Jay Clarke (2-->3.17)
18 0.6666666666666666 13 0.46153846153846156
21:30 Raul Brancaccio (1-->1.53) Nikola Milojevic (2-->3.62)
8 0.625 6 0.3333333333333333
22:00 Viktorija Golubic (1-->1.7) Danka Kovinic (2-->3.07)
21 0.7619047619047619 6 0.5
23:00 Alexander Shevchenko (1-->1.79) Oleksii Krutykh (2-->2.76)
10 0.6 8 0.125
23:30 Shuai Zhang (1-->1.69) Madison Brengle (2-->3.12)
19 0.8421052631578947 10 0.5

In [33]:
#result_hard[result_hard['percent2']>0.5]
result_hard['Fav_Odds']=result_hard['Fav_Odds'].astype(float)
result_hard[((result_hard['Fav_Serve%']>75)|(result_hard['Dog_Serve%']>75))&(result_hard['percent2']<0.5)]
result_hard[(result_hard['percent2']>0.6)&(result_hard['percent']<0.4)&(result_hard['Fav_Odds']<1.8)]
result_hard.to_clipboard(index=False)

In [34]:
result_hard[(result_hard['Fav_Odds']>1.8)&(result_hard['percent2']<0.4)&(result_hard['percent']>0.6)]

Empty DataFrame
Columns: [Time, Fav_Odds, Dog_Odds, Fav, Elo_Fav, Fav_Record, Fav_Games, Dog, Dog_Record, Dog_Games, percent, percent2, Fav_Serve%, Dog_Return%, Dog_Serve%, Fav_Return%]
Index: []

In [35]:
result_hard[(result_hard['Fav_Odds']>1.19)&(result_hard['Fav_Odds']<1.3)&(result_hard['percent2']<0.4)&(result_hard['percent']>0.6)&(result_hard['Dog_Games']>6)]

,Time,Fav_Odds,Dog_Odds,Fav,Elo_Fav,Fav_Record,Fav_Games,Dog,Dog_Record,Dog_Games,percent,percent2,Fav_Serve%,Dog_Return%,Dog_Serve%,Fav_Return%
22,09:40,1.21,4.06,Mitchell Krueger,Mitchell Krueger,64%,11,Nick Chappell,12%,8,0.636364,0.125,81.0,0.0,80.0,17.0

In [36]:
clay
elo_data_clay

,Surface,Date,Sex,Winner,Loser,Winner_Odds,Loser_Odds,Resulted,Time,Elo_Fav,...,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Rank,Elo_Dog_Rank,Fav,Dog,Fav_Odds,Dog_Odds,Fav_Rank,Dog_Rank
0,Clay,2023-01-31,Womens,Raluka Serban,Quinn Gleason,1.39,2.86,True,06:50,Quinn Gleason,...,1611.001496,1418.998571,746.0,215.0,Raluka Serban,Quinn Gleason,1.39,2.86,215.0,746.0
1,Clay,2023-01-31,Womens,Nuria Brancaccio,Julia Riera,1.52,2.44,True,02:05,Julia Riera,...,1509.573789,1493.867877,259.0,213.0,Nuria Brancaccio,Julia Riera,1.52,2.44,213.0,259.0
2,Clay,2023-01-31,Womens,Paula Ormaechea,Weronika Falkowska,1.33,3.18,True,02:10,Paula Ormaechea,...,1562.678711,1482.500810,206.0,250.0,Paula Ormaechea,Weronika Falkowska,1.33,3.18,206.0,250.0
3,Clay,2023-01-31,Womens,Laura Pigossi,Gabriela Ce,1.30,3.37,True,04:05,Laura Pigossi,...,1518.781173,1346.897616,110.0,263.0,Laura Pigossi,Gabriela Ce,1.30,3.37,110.0,263.0
4,Clay,2023-01-31,Womens,Fernanda Contreras Gomez,Marine Partaud,1.31,3.26,True,04:55,Marine Partaud,...,1598.954162,1594.560844,443.0,183.0,Fernanda Contreras Gomez,Marine Partaud,1.31,3.26,183.0,443.0
5,Clay,2023-01-31,Womens,Katarzyna Kawa,Aliona Bolsova,2.50,1.49,False,10:10,Aliona Bolsova,...,1503.931140,1379.832490,148.0,231.0,Aliona Bolsova,Katarzyna Kawa,1.49,2.50,148.0,231.0

In [37]:
for _,i in elo_data_hard.iterrows():
    check1=elo_hard[((elo_hard['Winner']==i.Winner)&(elo_hard['Loser']==i.Loser))|((elo_hard['Loser']==i.Winner)&(elo_hard['Winner']==i.Loser))]
    if check1.empty==False:
        for _, x in check1.iterrows():
            print(f"{x.Winner} beat {x.Loser}")

Ryan Peniston beat Jay Clarke
Alexander Shevchenko beat Oleksii Krutykh
Emilio Nava beat Vasek Pospisil
James Duckworth beat Makoto Ochi
Mitchell Krueger beat Nick Chappell

In [38]:
for _,i in elo_data_clay.iterrows():
    check1=elo_clay[((elo_clay['Winner']==i.Winner)&(elo_clay['Loser']==i.Loser))|((elo_clay['Loser']==i.Winner)&(elo_clay['Winner']==i.Loser))]
    if check1.empty==False:
        for _, x in check1.iterrows():
            print(f"{x.Winner} beat {x.Loser}")