In [2]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")

In [352]:
pd.read_sql_query("Select DISTINCT * FROM Elo_AllMatches  where date like '2022-08-22'",con=devengine)#.to_sql('AllMatches',con=devengine,if_exists='replace',index=False)

,Surface,Date,Sex,Winner,Loser,Winner_Odds,Loser_Odds,Elo_Winner,Elo_Loser,Prob_Elo,...,Elo_Loser_y,Prob_Elo_y,Prob_Elo_Loser_y,Elo_Fav_y,Elo_Fav_Odds_y,Elo_Dog_Odds_y,Elo_Fav_Est_Odds_y,Elo_Dog_Est_Odds_y,Wins_y,Losses_y
0,Hard,2022-08-22,Womens,Marina Stakusic,Erin Routliffe,1.27,3.58,1614.848111,1635.004027,0.471026,...,1635.004027,0.471026,0.528974,Erin Routliffe,3.58,1.27,1.890451,2.123026,5,3
1,Hard,2022-08-22,Mens,Matthew Hulme,Corey Gaal,2.75,1.40,1403.551118,1426.096435,0.467600,...,1426.096435,0.467600,0.532400,Corey Gaal,1.40,2.75,1.878288,2.138579,2,12
2,Hard,2022-08-22,Mens,Aidan Mayo,Christian Lakoseljac,1.12,5.52,1643.420194,1456.354835,0.745895,...,1456.354835,0.745895,0.254105,Aidan Mayo,1.12,5.52,1.340672,3.935374,14,2
3,Hard,2022-08-22,Womens,Lulu Sun,Jana Fett,2.12,1.68,1591.658277,1614.834902,0.466696,...,1614.834902,0.466696,0.533304,Jana Fett,1.68,2.12,1.875102,2.142725,8,21
4,Hard,2022-08-22,Womens,Kayla Cross,Himeno Sakatsume,3.51,1.28,1548.694730,1520.465590,0.540536,...,1520.465590,0.540536,0.459464,Kayla Cross,3.51,1.28,1.850016,2.176448,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,Hard,2022-08-22,Mens,Soon Woo Kwon,Daniel Altmaier,1.55,2.42,1644.090578,1647.620542,0.494920,...,1647.620542,0.494920,0.505080,Daniel Altmaier,2.42,1.55,1.979885,2.020528,45,58
82,Hard,2022-08-22,Mens,Richard Gasquet,Kamil Majchrzak,1.37,3.06,1795.304653,1657.275944,0.688809,...,1657.275944,0.688809,0.311191,Richard Gasquet,1.37,3.06,1.451781,3.213460,53,45
83,Hard,2022-08-22,Mens,Borna Coric,Stefanos Tsitsipas,2.36,1.61,1994.047159,2033.987882,0.442773,...,2033.987882,0.442773,0.557227,Stefanos Tsitsipas,1.61,2.36,1.794599,2.258496,30,43
84,Hard,2022-08-22,Womens,Cadence Brace,Nadiya Kichenok,1.79,1.96,1505.869743,1473.387932,0.546609,...,1473.387932,0.546609,0.453391,Cadence Brace,1.79,1.96,1.829460,2.205604,5,5
85,Clay,2022-08-22,Mens,Jan Choinski,Lorenzo Giustino,1.91,1.81,1528.822520,1540.743894,0.482850,...,1540.743894,0.482850,0.517150,Lorenzo Giustino,1.81,1.91,1.933677,2.071034,4,72

In [307]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded where date < '2022-08-21' and records >= 1 --and records <= 3",        con=devengine).to_clipboard(index=False)

In [479]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded where date like '2022-08-19' --and records >= 1 and records <= 3",        con=devengine)

Empty DataFrame
Columns: [Date, Selection, Odds, Opponent, Winner, records]
Index: []

In [600]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded_opp where date < '2022-08-24' and records>1 --and Elo_Dog_Odds >= 2 and Elo_Dog_Odds <=2.5 --and records >= 40 --and records <= 3",  
              con=devengine).to_clipboard(index=False)

In [594]:
pd.read_sql_query(
        "Select * FROM Predictions_Past_two_four_odds_rounded_opp where date like '2022-08-24' --and records>1 --and Elo_Dog_Odds >= 2 and Elo_Dog_Odds <=2.5--and records >= 40 --and records <= 3",        con=devengine)

,Date,Selection,Odds,Elo_Dog_Odds,Opponent,Winner,records
0,2022-08-24,Agustin Tirante Thiago,1.9,1.8,Carlos Taberner,Carlos Taberner,6
1,2022-08-24,Alejandro Tabilo,3.3,1.3,Lorenzo Sonego,Lorenzo Sonego,4
2,2022-08-24,Andrea Pellegrino,2.0,1.7,Dmitry Popko,Dmitry Popko,6
3,2022-08-24,Antoine Escoffier,2.0,1.7,Jesper De Jong,Jesper De Jong,6
4,2022-08-24,Camilo Ugo Carabelli,1.8,1.8,Altug Celikbilek,Altug Celikbilek,6
5,2022-08-24,Dominic Stricker,1.9,1.8,Borna Gojo,Borna Gojo,6
6,2022-08-24,Harriet Dart,2.0,1.7,Nuria Parrizas Diaz,Nuria Parrizas Diaz,6
7,2022-08-24,Juan Pablo Ficovich,2.0,1.7,Mats Moraing,Mats Moraing,4

In [558]:
def drop_table_data(engine, table):
    devengine = create_engine(engine)
    connection = devengine.connect()
    connection.execute("DROP Table  {} --where date like '2022-08-21'".format(table))


database = "sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db"
db_table = "Predictions_Past_two_four_odds_rounded_elofav"
drop_table_data(database, db_table)

In [367]:
month_ago='2022-07-22'
tomorrow='2022-08-23'
dataset = pd.read_sql_query(
    "Select Winner, Elo_Fav,Elo_Fav_Odds, Elo_Dog_Odds, Elo_Winner, Elo_Loser FROM Elo_AllMatches where  date < '{}' and WinnerTotal > 50 and LoserTotal > 50 and Elo_Fav_Odds < 2.1".format(
        month_ago
    ),
    con=devengine,
)

dataset["Elo_Fav_Odds"] = (dataset["Elo_Fav_Odds"] / 0.10).apply(np.floor).astype(
    float
) * 0.10
dataset["Elo_Dog_Odds"] = (dataset["Elo_Dog_Odds"] / 0.10).apply(np.floor).astype(
    float
) * 0.10

prediction = pd.read_sql_query(
    "Select  Winner,Loser,Elo_Fav, Elo_Fav_Odds ,Elo_Dog_Odds, Elo_Winner, Elo_Loser FROM Elo_AllMatches where  date > '{}' and date < '{}' and WinnerTotal > 50 and LoserTotal > 50 and Elo_Fav_Odds < 2.1".format(
        month_ago, tomorrow
    ),
    con=devengine,
)

prediction["Elo_Fav_Odds"] = (prediction["Elo_Fav_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10
prediction["Elo_Dog_Odds"] = (prediction["Elo_Dog_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10

prediction1 = pd.read_sql_query(
    "Select Date,Winner,Loser,Elo_Fav, Elo_Fav_Odds, Elo_Dog_Odds, Elo_Winner, Elo_Loser  FROM Elo_AllMatches where  date > '{}' and date < '{}' and WinnerTotal > 50 and LoserTotal > 50 and Elo_Fav_Odds < 2.1".format(
        month_ago, tomorrow
    ),
    con=devengine,
)

prediction1["Elo_Fav_Odds"] = (prediction1["Elo_Fav_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10
prediction1["Elo_Dog_Odds"] = (prediction1["Elo_Dog_Odds"] / 0.10).apply(
    np.floor
).astype(float) * 0.10

dataset["Winner"] = dataset.apply(
    lambda x: "EloFav" if x["Winner"] == x["Elo_Fav"] else "EloDog", axis=1
)
dataset["Elo_Fav"] = dataset.apply(
    lambda x: x["Elo_Winner"] if x["Winner"] == x["Elo_Fav"] else x["Elo_Loser"],
    axis=1,
)
dataset["Elo_Dog"] = dataset.apply(
    lambda x: x["Elo_Loser"] if x["Winner"] == x["Elo_Fav"] else x["Elo_Winner"],
    axis=1,
)
dataset["Odds_Difference"] = abs(dataset["Elo_Fav_Odds"] - dataset["Elo_Dog_Odds"])
dataset["Elo_Difference"] = abs(dataset["Elo_Fav"] - dataset["Elo_Dog"])
dataset = dataset[["Winner", "Odds_Difference", "Elo_Difference"]]
my_list = ["EloFav", "EloDog"]
dataset["Player_1"] = np.random.choice(my_list, len(dataset))
dataset["Player_2"] = dataset.apply(
    lambda x: "EloDog" if x["Player_1"] == "EloFav" else "EloFav", axis=1
)
dataset

      Winner  Odds_Difference  Elo_Difference Player_1 Player_2
0     EloFav              4.9      219.384513   EloFav   EloDog
1     EloFav              0.5       19.615513   EloFav   EloDog
2     EloFav              0.6        4.644329   EloDog   EloFav
3     EloFav              1.4       61.152912   EloDog   EloFav
4     EloFav              0.9       84.277003   EloDog   EloFav
...      ...              ...             ...      ...      ...
4777  EloFav              0.9      101.893940   EloFav   EloDog
4778  EloFav              1.7       71.077411   EloFav   EloDog
4779  EloFav              3.3      239.265549   EloFav   EloDog
4780  EloDog              1.6      137.476103   EloDog   EloFav
4781  EloDog              1.6      115.945229   EloDog   EloFav

[4782 rows x 5 columns]