In [897]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")
data=pd.read_sql_query(
    f"Select DISTINCT * FROM Elo_AllMatches_clay where Date > '2022-01-01' and Date not like '{time_now_formatted}'",
    con=devengine,)

In [898]:
clay=data[(data['Surface']=='Clay')]#&(data['Sex']=='Mens')]

In [916]:
today=pd.read_sql_query(
    f"Select DISTINCT * FROM Elo_AllMatches_clay --where  Date  like '{time_now_formatted}'",
    con=devengine,)
today['low_odds']=today[['Winner_Odds','Loser_Odds']].min(axis=1)
today['high_odds']=today[['Winner_Odds','Loser_Odds']].max(axis=1)
today[['Winner','Loser','Winner_Odds','high_odds','Resulted']]#[(today['high_odds']).ge(2)&(today['high_odds']).le(2.1)]
today[['Winner','Loser','Winner_Odds','high_odds','Resulted','Date','Time']][(today['Date']=='2023-04-04')&(today['high_odds']).ge(2)&(today['high_odds']).le(2.13)].sort_values(by='Time')

,Winner,Loser,Winner_Odds,high_odds,Resulted,Date,Time
5645,Francesco Passaro,Aslan Karatsev,2.09,2.09,True,2023-04-04,02:15
5618,Denis Yevseyev,Colin Sinclair,2.08,2.08,True,2023-04-04,06:05
5658,Daniel Elahi Galan,Zhizhen Zhang,2.12,2.12,True,2023-04-04,06:05
5626,Patrick Kypson,Alexis Galarneau,1.69,2.06,True,2023-04-04,07:30
5656,Gijs Brouwer,Aleksandar Kovacevic,1.79,2.03,True,2023-04-04,07:50
5670,Murkel Dellien,Nicolas Mejia,2.06,2.06,True,2023-04-04,10:25
5675,Elmar Ejupovic,Lucas Pouille,2.09,2.09,True,2023-04-04,13:30
5643,Fa Rodriguez Taverna Santiago,Benoit Paire,2.13,2.13,False,2023-04-04,22:30
5673,Riccardo Bonadio,Christopher Oconnell,2.07,2.07,False,2023-04-04,23:00

In [900]:
clay=clay[['Winner', 'Loser', 'Winner_Odds',
       'Loser_Odds',  'Elo_Fav', 'Elo_Dog', 'Elo_Fav_Odds',
       'Elo_Dog_Odds', 'Elo_Fav_Est_Odds', 'Elo_Dog_Est_Odds', 'Elo_Fav_Elo',
       'Elo_Dog_Elo', 'Elo_Fav_Rank', 'Elo_Dog_Rank', 'Fav', 'Dog', 'Fav_Odds',
       'Dog_Odds', 'Fav_Rank', 'Dog_Rank']]

In [901]:
clay['low_rank']=clay[['Elo_Fav_Rank','Elo_Dog_Rank']].min(axis=1)
clay['high_rank']=clay[['Elo_Fav_Rank','Elo_Dog_Rank']].max(axis=1)
clay['low_odds']=clay[['Winner_Odds','Loser_Odds']].min(axis=1)
clay['high_odds']=clay[['Winner_Odds','Loser_Odds']].max(axis=1)

clay['Rank_Diff']=clay['high_rank']-clay['low_rank']
#clay['Winner']=clay.apply(lambda x: 'Fav' if x['Player_1_Odds']<x['Player_2_Odds'] else 'Dog', axis=1)

clay.to_clipboard()

In [902]:
Player_1=clay[['Winner','Winner_Odds','Loser_Odds','Elo_Fav','Elo_Fav_Odds','Elo_Fav_Est_Odds','Elo_Dog_Est_Odds','Elo_Fav_Elo','Elo_Fav_Rank','Fav','Dog_Rank','Fav_Rank','Elo_Dog_Elo']].copy()
Player_1.to_clipboard()
cols_to_del=Player_1.columns
Player_1['Win']=True
Player_1['Odds']=Player_1['Winner_Odds']
Player_1['Opp_Odds']=Player_1['Loser_Odds']
Player_1['Rank']=Player_1.apply(lambda x: x['Fav_Rank'] if x['Winner']==x['Fav'] else x['Dog_Rank'], axis=1)
Player_1['Opp_Rank']=Player_1.apply(lambda x: x['Fav_Rank'] if x['Winner']!=x['Fav']else x['Dog_Rank'], axis=1)
Player_1['Is_EloFav']=Player_1.apply(lambda x: True if x['Winner']==x['Elo_Fav'] else False, axis=1)
Player_1['Is_Fav']=Player_1.apply(lambda x: True if x['Winner']==x['Fav'] else False, axis=1)
Player_1['Est_Odds']=Player_1.apply(lambda x: x['Elo_Fav_Est_Odds'] if x['Is_EloFav']==True else x['Elo_Dog_Est_Odds'], axis=1)
Player_1['Elo']=Player_1.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']==True else x['Elo_Dog_Elo'], axis=1)
Player_1['Opp_Elo']=Player_1.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']!=True else x['Elo_Dog_Elo'], axis=1)
Player_1=Player_1.drop(columns=cols_to_del)
#Player_1=Player_1[['Win','Elo']]

In [903]:
Player_2=clay[['Winner','Winner_Odds','Elo_Fav','Elo_Fav_Odds','Elo_Fav_Est_Odds','Elo_Dog_Est_Odds','Elo_Fav_Elo','Elo_Fav_Rank','Fav','Loser_Odds','Dog_Rank','Fav_Rank','Elo_Dog_Elo']].copy()
cols_to_del=Player_2.columns
Player_2['Win']=False
Player_2['Odds']=Player_2['Loser_Odds']
Player_2['Opp_Odds']=Player_2['Winner_Odds']
Player_2['Rank']=Player_2.apply(lambda x: x['Fav_Rank'] if x['Winner']!=x['Fav'] else x['Dog_Rank'], axis=1)
Player_2['Opp_Rank']=Player_2.apply(lambda x: x['Fav_Rank'] if x['Winner']==x['Fav']else x['Dog_Rank'], axis=1)
Player_2['Is_EloFav']=Player_2.apply(lambda x: True if x['Winner']!=x['Elo_Fav'] else False, axis=1)
Player_2['Is_Fav']=Player_2.apply(lambda x: True if x['Winner']!=x['Fav'] else False, axis=1)
Player_2['Est_Odds']=Player_2.apply(lambda x: x['Elo_Fav_Est_Odds'] if x['Is_EloFav']==True else x['Elo_Dog_Est_Odds'], axis=1)
Player_2['Elo']=Player_2.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']==True else x['Elo_Dog_Elo'], axis=1)
Player_2['Opp_Elo']=Player_2.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']!=True else x['Elo_Dog_Elo'], axis=1)
Player_2=Player_2.drop(columns=cols_to_del)
#Player_2=Player_2[['Win','Elo']]

In [904]:
data=pd.concat([Player_1,Player_2])
data=data.reset_index(drop=True)
data['Odds']=data['Odds'].astype(float)
data

,Win,Odds,Opp_Odds,Rank,Opp_Rank,Is_EloFav,Is_Fav,Est_Odds,Elo,Opp_Elo
0,True,1.62,2.28,107.0,82.0,True,True,1.469552,1565.663195,1434.336805
1,True,2.31,1.57,203.0,185.0,False,False,2.000000,1565.663195,1565.663195
2,True,1.10,7.02,55.0,329.0,False,True,2.000000,1565.663195,1565.663195
3,True,1.53,2.48,82.0,96.0,False,True,2.000000,1565.663195,1565.663195
4,True,1.61,2.29,94.0,34.0,False,True,2.000000,1565.663195,1565.663195
...,...,...,...,...,...,...,...,...,...,...
11227,False,3.24,1.3,827.0,235.0,True,False,1.899837,1497.850104,1479.515624
11228,False,1.79,1.94,379.0,456.0,False,True,3.818723,1317.998926,1498.019868
11229,False,2.21,1.59,418.0,485.0,False,False,2.040307,1502.572004,1509.436594
11230,False,5.43,1.12,638.0,277.0,False,False,6.479465,1416.958173,1712.453427
11231,False,2.30,1.57,491.0,428.0,False,False,3.350084,1374.494510,1522.927837

In [905]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)
        #print(lower,upper)
        test1=data[(data['Odds'].ge(lower))&(data['Odds'].le(upper))].copy()
        games=len(test1)
        if games > 0:
            percent=len(test1[test1['Win']==True])/len(test1)
        STAKE=1000
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Win']!=True else (STAKE * x['Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >0:
            print(lower,upper,percent,games)
            print(test1['Profit'].sum())

1.0 1.1 0.9481865284974094 193
2370.0
2.0 2.1 0.5060728744939271 494
18270.0
2.5 2.6 0.40836012861736337 311
13470.0
2.6 2.7 0.37800687285223367 291
310.0
3.1 3.2 0.3493975903614458 166
16700.0
3.2 3.3 0.3356643356643357 143
13080.0
3.4 3.5 0.31896551724137934 116
11440.0
3.6 3.7 0.3333333333333333 108
23490.0
3.7 3.8 0.2840909090909091 88
5610.0
3.8 3.9 0.2676056338028169 71
1930.0

In [915]:
lower=2
upper=2.13
test1=data[(data['Odds'].ge(lower))&(data['Odds'].le(upper))].copy()
games=len(test1)
if games > 0:
    percent=len(test1[test1['Win']==True])/len(test1)
STAKE=1000
test1['Profit']=test1.apply(lambda x: -STAKE if x['Win']!=True else (STAKE * x['Odds'])-STAKE,axis=1)
if test1['Profit'].sum() >0 and len(test1) >0:
    print(lower,upper,percent,games)
    print(test1['Profit'].sum())

2 2.13 0.5120385232744783 623
35480.0

In [906]:
filtered=data[(data['Odds']).ge(2.0)&(data['Odds']).le(2.1)]
filtered=filtered.sample(frac=1, random_state=42)
new=filtered.copy()
cols_to_del=filtered.columns
new['Winner']=new['Win']
new['Rank_Diff']=new['Rank']-new['Opp_Rank']
new['Elo_Fav']=new['Is_EloFav']
new['Est_Odds_']=new['Est_Odds']
new['Elo_Diff']=new['Elo']-new['Opp_Elo']
new=new.drop(columns=cols_to_del)
new

       Winner  Rank_Diff  Elo_Fav  Est_Odds_    Elo_Diff
10348   False      -24.0    False   4.328727 -208.911262
1594     True     -128.0    False   2.641560  -86.102746
7199    False      -42.0    False   3.330828 -147.004096
4036     True       43.0     True   1.900635   18.180421
7702    False     -101.0    False   2.623438  -84.174325
...       ...        ...      ...        ...         ...
2485     True      286.0    False   2.068621  -11.529531
6007    False        6.0     True   1.502703  119.475575
8016    False        9.0    False   2.746451  -96.862517
9879    False       46.0    False   2.704404  -92.628970
2316     True      -30.0     True   1.986101    2.431407

[494 rows x 5 columns]

In [907]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X = new.drop('Winner',axis=1)
y = new["Winner"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Evaluate the model on the testing data
score = model.score(X_test, y_test)
print(f"R^2 score: {score:.2f}")

R^2 score: -0.03