In [13]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")
time_now = datetime.datetime.now()
time_now_formatted = time_now.strftime("%Y-%m-%d")
data=pd.read_sql_query(
    f"Select DISTINCT * FROM Elo_AllMatches_clay where Date > '2022-01-01' and Date not like '{time_now_formatted}'",
    con=devengine,)

In [14]:
clay=data[(data['Surface']=='Clay')]#&(data['Sex']=='Mens')]

In [15]:
today=pd.read_sql_query(
    f"Select DISTINCT * FROM Elo_AllMatches_clay where  Date  like '{time_now_formatted}'",
    con=devengine,)
today['low_odds']=today[['Winner_Odds','Loser_Odds']].min(axis=1)
today['high_odds']=today[['Winner_Odds','Loser_Odds']].max(axis=1)
today[['Winner','Loser','Winner_Odds','high_odds','Resulted']]#[(today['high_odds']).ge(2)&(today['high_odds']).le(2.1)]
today[['Winner','Loser','Winner_Odds','high_odds','Resulted','Date','Time']][(today['Date']=='2023-04-05')&(today['high_odds']).ge(2)&(today['high_odds']).le(2.13)].sort_values(by='Time')

,Winner,Loser,Winner_Odds,high_odds,Resulted,Date,Time
5551,Claire Liu,Bernarda Pera,2.10,2.10,False,2023-04-05,01:05
5579,Fa Rodriguez Taverna Santiago,Benoit Paire,2.04,2.04,False,2023-04-05,01:30
5565,Francesco Maestrelli,Andrea Pellegrino,2.02,2.02,False,2023-04-05,03:00
5566,Despina Papamichail,Nuria Brancaccio,2.02,2.02,False,2023-04-05,04:00
5575,Shelby Rogers,Danielle Collins,2.13,2.13,False,2023-04-05,05:30
5608,James Duckworth,Thiago Agustin Tirante,2.00,2.00,False,2023-04-05,07:30
5560,Franco Agamenone,Matteo Gigante,2.08,2.08,False,2023-04-05,18:00
5549,Andrea Collarini,Marco Trungelliti,2.12,2.12,False,2023-04-05,20:30
5591,Riccardo Bonadio,Christopher Oconnell,2.08,2.08,True,2023-04-05,23:40

In [16]:
clay=clay[['Winner', 'Loser', 'Winner_Odds',
       'Loser_Odds',  'Elo_Fav', 'Elo_Dog', 'Elo_Fav_Odds',
       'Elo_Dog_Odds', 'Elo_Fav_Est_Odds', 'Elo_Dog_Est_Odds', 'Elo_Fav_Elo',
       'Elo_Dog_Elo', 'Elo_Fav_Rank', 'Elo_Dog_Rank', 'Fav', 'Dog', 'Fav_Odds',
       'Dog_Odds', 'Fav_Rank', 'Dog_Rank']]

In [17]:
clay['low_rank']=clay[['Elo_Fav_Rank','Elo_Dog_Rank']].min(axis=1)
clay['high_rank']=clay[['Elo_Fav_Rank','Elo_Dog_Rank']].max(axis=1)
clay['low_odds']=clay[['Winner_Odds','Loser_Odds']].min(axis=1)
clay['high_odds']=clay[['Winner_Odds','Loser_Odds']].max(axis=1)

clay['Rank_Diff']=clay['high_rank']-clay['low_rank']
#clay['Winner']=clay.apply(lambda x: 'Fav' if x['Player_1_Odds']<x['Player_2_Odds'] else 'Dog', axis=1)

clay.to_clipboard()

In [18]:
Player_1=clay[['Winner','Winner_Odds','Loser_Odds','Elo_Fav','Elo_Fav_Odds','Elo_Fav_Est_Odds','Elo_Dog_Est_Odds','Elo_Fav_Elo','Elo_Fav_Rank','Fav','Dog_Rank','Fav_Rank','Elo_Dog_Elo']].copy()
Player_1.to_clipboard()
cols_to_del=Player_1.columns
Player_1['Win']=True
Player_1['Odds']=Player_1['Winner_Odds']
Player_1['Opp_Odds']=Player_1['Loser_Odds']
Player_1['Rank']=Player_1.apply(lambda x: x['Fav_Rank'] if x['Winner']==x['Fav'] else x['Dog_Rank'], axis=1)
Player_1['Opp_Rank']=Player_1.apply(lambda x: x['Fav_Rank'] if x['Winner']!=x['Fav']else x['Dog_Rank'], axis=1)
Player_1['Is_EloFav']=Player_1.apply(lambda x: True if x['Winner']==x['Elo_Fav'] else False, axis=1)
Player_1['Is_Fav']=Player_1.apply(lambda x: True if x['Winner']==x['Fav'] else False, axis=1)
Player_1['Est_Odds']=Player_1.apply(lambda x: x['Elo_Fav_Est_Odds'] if x['Is_EloFav']==True else x['Elo_Dog_Est_Odds'], axis=1)
Player_1['Elo']=Player_1.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']==True else x['Elo_Dog_Elo'], axis=1)
Player_1['Opp_Elo']=Player_1.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']!=True else x['Elo_Dog_Elo'], axis=1)
Player_1=Player_1.drop(columns=cols_to_del)
#Player_1=Player_1[['Win','Elo']]

In [19]:
Player_2=clay[['Winner','Winner_Odds','Elo_Fav','Elo_Fav_Odds','Elo_Fav_Est_Odds','Elo_Dog_Est_Odds','Elo_Fav_Elo','Elo_Fav_Rank','Fav','Loser_Odds','Dog_Rank','Fav_Rank','Elo_Dog_Elo']].copy()
cols_to_del=Player_2.columns
Player_2['Win']=False
Player_2['Odds']=Player_2['Loser_Odds']
Player_2['Opp_Odds']=Player_2['Winner_Odds']
Player_2['Rank']=Player_2.apply(lambda x: x['Fav_Rank'] if x['Winner']!=x['Fav'] else x['Dog_Rank'], axis=1)
Player_2['Opp_Rank']=Player_2.apply(lambda x: x['Fav_Rank'] if x['Winner']==x['Fav']else x['Dog_Rank'], axis=1)
Player_2['Is_EloFav']=Player_2.apply(lambda x: True if x['Winner']!=x['Elo_Fav'] else False, axis=1)
Player_2['Is_Fav']=Player_2.apply(lambda x: True if x['Winner']!=x['Fav'] else False, axis=1)
Player_2['Est_Odds']=Player_2.apply(lambda x: x['Elo_Fav_Est_Odds'] if x['Is_EloFav']==True else x['Elo_Dog_Est_Odds'], axis=1)
Player_2['Elo']=Player_2.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']==True else x['Elo_Dog_Elo'], axis=1)
Player_2['Opp_Elo']=Player_2.apply(lambda x: x['Elo_Fav_Elo'] if x['Is_EloFav']!=True else x['Elo_Dog_Elo'], axis=1)
Player_2=Player_2.drop(columns=cols_to_del)
#Player_2=Player_2[['Win','Elo']]

In [20]:
data=pd.concat([Player_1,Player_2])
data=data.reset_index(drop=True)
data['Odds']=data['Odds'].astype(float)
data

,Win,Odds,Opp_Odds,Rank,Opp_Rank,Is_EloFav,Is_Fav,Est_Odds,Elo,Opp_Elo
0,True,2.16,1.66,144.0,204.0,True,False,1.614077,1577.927462,1493.216591
1,True,1.13,6.04,3.0,89.0,False,True,2.000000,1565.663195,1565.663195
2,True,1.88,1.92,47.0,5.0,False,True,2.000000,1565.663195,1565.663195
3,True,6.19,1.12,168.0,13.0,False,False,2.000000,1565.663195,1565.663195
4,True,2.11,1.72,21.0,24.0,False,False,2.000000,1565.663195,1565.663195
...,...,...,...,...,...,...,...,...,...,...
11091,False,2.21,1.59,418.0,485.0,False,False,2.151741,1487.345330,1511.887207
11092,False,5.43,1.12,638.0,277.0,False,False,6.454422,1416.069596,1710.769100
11093,False,2.30,1.57,491.0,428.0,False,False,3.334085,1374.494510,1521.741205
11094,False,3.46,1.26,852.0,302.0,True,False,1.789713,1516.309090,1475.296805
11095,False,2.33,1.55,458.0,338.0,False,False,3.684889,1371.269817,1542.840319

In [21]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)
        #print(lower,upper)
        test1=data[(data['Odds'].ge(lower))&(data['Odds'].le(upper))].copy()
        games=len(test1)
        if games > 0:
            percent=len(test1[test1['Win']==True])/len(test1)
        STAKE=1000
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Win']!=True else (STAKE * x['Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >0:
            print(lower,upper,percent,games)
            print(test1['Profit'].sum())

1.0 1.1 0.9521276595744681 188
3040.0
2.0 2.1 0.5041322314049587 484
16030.0
2.5 2.6 0.4090909090909091 308
13870.0
2.6 2.7 0.3824561403508772 285
3710.0
3.1 3.2 0.3515151515151515 165
17700.0
3.2 3.3 0.3380281690140845 142
14080.0
3.4 3.5 0.3130434782608696 115
8960.0
3.6 3.7 0.3238095238095238 105
19210.0
3.7 3.8 0.29411764705882354 85
8610.0
3.8 3.9 0.2676056338028169 71
1930.0

In [22]:
lower=2
upper=2.13
test1=data[(data['Odds'].ge(lower))&(data['Odds'].le(upper))].copy()
games=len(test1)
if games > 0:
    percent=len(test1[test1['Win']==True])/len(test1)
STAKE=1000
test1['Profit']=test1.apply(lambda x: -STAKE if x['Win']!=True else (STAKE * x['Odds'])-STAKE,axis=1)
if test1['Profit'].sum() >0 and len(test1) >0:
    print(lower,upper,percent,games)
    print(test1['Profit'].sum())

2 2.13 0.5106035889070146 613
33240.0

In [23]:
filtered=data[(data['Odds']).ge(2.0)&(data['Odds']).le(2.1)]
filtered=filtered.sample(frac=1, random_state=42)
new=filtered.copy()
cols_to_del=filtered.columns
new['Winner']=new['Win']
new['Rank_Diff']=new['Rank']-new['Opp_Rank']
new['Elo_Fav']=new['Is_EloFav']
new['Est_Odds_']=new['Est_Odds']
new['Elo_Diff']=new['Elo']-new['Opp_Elo']
new=new.drop(columns=cols_to_del)
new

       Winner  Rank_Diff  Elo_Fav  Est_Odds_    Elo_Diff
9626    False      366.0    False   2.188814  -30.045509
10832   False       62.0    False   2.320241  -48.261233
4210     True       54.0     True   1.650057   74.819492
10226   False      119.0    False   2.327650  -49.233467
6987    False       59.0    False   3.032485 -123.210976
...       ...        ...      ...        ...         ...
2546     True     -308.0    False   4.263238 -205.459517
6058    False       55.0    False   2.324815  -48.862086
8191    False       13.0     True   1.996664    0.580478
9931    False       53.0     True   1.415706  152.485295
2432     True       61.0    False   2.649751  -86.967366

[484 rows x 5 columns]

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
X = new.drop('Winner',axis=1)
y = new["Winner"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# Create a linear regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Evaluate the model on the testing data
score = model.score(X_test, y_test)
print(f"R^2 score: {score:.2f}")

R^2 score: -0.04