In [106]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")

In [107]:
elo_data = pd.read_sql_query(
    "Select DISTINCT * From Elo_AllMatches_Daily_Hard_ThreeMonths where date < '2022-09-16' --and date > '2022-06-31' and (Surface like 'Hard' or Surface like '') --and Elo_Fav_Est_Odds < 1.8",
    con=devengine,
)

In [108]:
elo_data=elo_data[elo_data['Sex']=='Mens']

In [109]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Dog_Odds'].ge(lower))&(elo_data['Elo_Dog_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']!=test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']==x['Elo_Fav'] else (STAKE * x['Elo_Dog_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

1.1 1.2 0.8795180722891566
505.0
1.3 1.4 0.7819548872180451
3480.0
1.4 1.5 0.704225352112676
1490.0
1.5 1.6 0.6792452830188679
4110.0
2.2 2.3 0.5376344086021505
9720.0
2.7 2.8 0.453125
7915.0
3.0 3.1 0.3333333333333333
280.0
3.1 3.2 0.3181818181818182
130.0
3.2 3.3 0.32558139534883723
1220.0
3.6 3.7 0.3181818181818182
1850.0
3.7 3.8 0.32
2520.0

In [110]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Fav_Odds'].ge(lower))&(elo_data['Elo_Fav_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']==test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!=x['Elo_Fav'] else (STAKE * x['Elo_Fav_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

2.0 2.1 0.5444444444444444
5265.0
2.1 2.2 0.4673913043478261
175.0
2.7 2.8 0.375
540.0
2.9 3.0 0.38461538461538464
1800.0

In [111]:
elo_data_today = pd.read_sql_query(
    "Select * From Elo_AllMatches_Daily_Hard_Today --where date < '2022-09-01' and date > '2022-06-31' and (Surface like 'Hard' or Surface like '') --and Elo_Fav_Est_Odds < 1.8",
    con=devengine,
)

In [112]:
elo_data_today[(elo_data_today['Elo_Dog_Odds'].ge(2.7))&(elo_data_today['Elo_Dog_Odds'].le(2.8))]

,Surface,Date,Sex,Winner,Resulted,Time,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
4,Hard,2022-09-18,Womens,Valentini Grammatikopoulou,False,13:00,Valentini Grammatikopoulou,Ankita Raina,1.41,2.78,1.146398,7.830699,1671.135555,1337.349507,23,22
7,Hard,2022-09-18,Womens,Danielle Lao,False,12:00,Danielle Lao,Ellen Perez,1.41,2.76,1.405589,3.465549,1543.782499,1387.017062,13,17

In [113]:
elo_data_today[((elo_data_today['Elo_Fav_Odds'].ge(1.9))&(elo_data_today['Elo_Fav_Odds'].le(2)))|((elo_data_today['Elo_Fav_Odds'].ge(2.2))&(elo_data_today['Elo_Fav_Odds'].le(2.3)))]

Empty DataFrame
Columns: [Surface, Date, Sex, Winner, Resulted, Time, Elo_Fav, Elo_Dog, Elo_Fav_Odds, Elo_Dog_Odds, Elo_Fav_Est_Odds, Elo_Dog_Est_Odds, Elo_Fav_Elo, Elo_Dog_Elo, Elo_Fav_Total, Elo_Dog_Total]
Index: []