In [13]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")

In [79]:
elo_data = pd.read_sql_query(
    "Select DISTINCT * From Elo_AllMatches_Daily_Hard_ThreeMonths where date < '2022-09-16' --and date > '2022-06-31' and (Surface like 'Hard' or Surface like '') --and Elo_Fav_Est_Odds < 1.8",
    con=devengine,
)

In [82]:
for x in range(3,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Dog_Odds'].ge(lower))&(elo_data['Elo_Dog_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']!=test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']==x['Elo_Fav'] else (STAKE * x['Elo_Dog_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

3.0 3.1 0.37735849056603776
3895.0
3.1 3.2 0.3275862068965517
985.0
3.2 3.3 0.31666666666666665
865.0
3.6 3.7 0.29411764705882354
1330.0
3.7 3.8 0.34375
4655.0

In [78]:
for x in range(3,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Fav_Odds'].ge(lower))&(elo_data['Elo_Fav_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']==test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!=x['Elo_Fav'] else (STAKE * x['Elo_Fav_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

In [68]:
elo_data_today = pd.read_sql_query(
    "Select * From Elo_AllMatches_Daily_Hard_Today --where date < '2022-09-01' and date > '2022-06-31' and (Surface like 'Hard' or Surface like '') --and Elo_Fav_Est_Odds < 1.8",
    con=devengine,
)

In [66]:
elo_data_today[(elo_data_today['Elo_Dog_Odds'].ge(2.7))&(elo_data_today['Elo_Dog_Odds'].le(2.8))]

,Surface,Date,Sex,Winner,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
9,Hard,2022-09-16,Mens,Gregoire Barrere,Gregoire Barrere,Evan Furness,1.41,2.77,1.60496,2.653001,1648.751207,1561.441968,19,11

In [69]:
elo_data_today[((elo_data_today['Elo_Fav_Odds'].ge(1.9))&(elo_data_today['Elo_Fav_Odds'].le(2)))|((elo_data_today['Elo_Fav_Odds'].ge(2.2))&(elo_data_today['Elo_Fav_Odds'].le(2.3)))]

,Surface,Date,Sex,Winner,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
4,Hard,2022-09-16,Mens,Lukas Rosol,Lukas Rosol,Laurent Lokoli,2.00,1.76,1.808623,2.236670,1629.150089,1592.248547,7,15
7,Hard,2022-09-16,Mens,Jordan Thompson,Juncheng Shang,Jordan Thompson,2.22,1.61,1.248447,5.024997,1855.824623,1613.918399,19,16